modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_Jx7d6sbvTSXB@ep-solitary-morning-amoepg1c-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
BETTER_AUTH_URL = "https://81521173-40b5-4e89-8ff2-dade7d55eea1-00-1wtopg4l3md9d.picard.replit.dev"
